*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*--------------------Navigation Bar-------------------------- */
#google_translate_element{
	margin-right: 10px;
	
}
.logo
{

	font-family: Magneto;
	color: #ff4d30;

	margin-left: 20px;
	font-weight: bolder;
}
.navigation
{
	position: sticky;
    top: 0;
	display: flex;
	justify-content:space-between;
	align-items: center;
	z-index: 2000;
	background-color: white;	
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
	
}
.nav-link
{	
    display: flex;
 	align-items: center;
	z-index: 2000;
}

.nav-link .li 
{
   list-style: none;
   display: inline-block;
   
   margin-bottom: 20px;
   margin-top: 10px;
   margin-right: 34px;
 
}
.nav-link .li1{
	list-style: none;
	display: inline-block;
	
	margin-bottom: 20px;
	margin-top: 10px;
	margin-right: 10px;
}
.nav-link .li a, .nav-link .li1 a
{
	position: relative;
	text-decoration: none;
	color: black;
	
	font-family: Calibri;
	font-weight: bold;

}
.nav-link .li a::after,.nav-link .li1 a::after,.select-menu .option a::after 
{
	content: '';
	height: 3px;
	width: 0%;
	background:#ff4d30	;
	display: block;
	margin: auto;
    transition:  0.5s ;
	position: absolute;
    
}


.nav-link .li a:hover::after,.nav-link .li1 a:hover::after 
{

	
    width:100% ;
    

}
.select-menu .option a:hover::after{
	cursor: pointer;
    width:90% ;
}

.select-menu{
	width: 220px;
	position: relative;
	display: inline-block;
	margin-left: 30px;
	justify-content: flex-end;
	z-index: 2000;
	
	
}
.select-btn{
	width: 200px;
	
}
.sBtn-text{
	font-family: Calibri;
	font-weight: bold;
}
.select-menu .select-btn{
	display: flex;
	flex-direction: row;
	
	
	align-items: center;
	justify-content: left;
	cursor: pointer;
}

.select-menu.active .options{
	display: block;
}
.select-btn i{
	font: 20px;
	transition: 0.15s;
	margin-left: 8px;
	padding-top: 3px;
	
}
.select-menu.active .select-btn i{
	transform: rotate(-180deg);
}
.select-menu .options{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 150px;
	
	background-color: white;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
	z-index: 2000;
	margin-top: 10px;
}


.option{
	text-align: left;
	list-style: none;
	padding-top: 18px;
	padding-left: 8px;
	
	
}
.option a{
	text-decoration: none;
	color: black;
	font-family: Calibri;
	font-size: 15px;
	font-weight: bold;
	text-align: left;
}

.log-nav .ul2{
	display: flex;
	
}
.ul2{
	padding-top: 0%;
}	
.log-nav li{
	list-style: none;
	
}
.log-nav li .login-link:hover{
	color: black;
}

.login-link{
	
	text-decoration: none;
	padding-left: 15px;
		
	font-size: 20px;
	margin-right: 22px;
	margin-left: 10px;
	color: #ff4d30;
	
}
.sms-logo{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 20px;

}
.sms-logo img{
	width: 30px;
}

.checkbtn
{
	font-size: 28px;
	color: black;
	float: right;

	cursor: pointer;
	display: none;
}
#check
{
	display: none;

}
.userSearchBox{
	position: absolute;
	right: -100%;
	top: 100%;
	width: 100%;
	height: 100%;
	display: flex;
	background-color: white;
	align-items: center;
	padding: 0 30px;
	transition: 0.5s ease-in-out;
	box-shadow: 0 2px rgba(0, 0, 0, 0.1);
	display: none;

}

.userSearchBox.active{
	right: 0;
}
.userSearchBox .input1{
	width: 100%;
	border: none;
	font-family:sans-serif;
	outline: none;
	height: 30px;
	color: black;
	font-size: 1rem;
	background-color: white;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.searchBTN{
	color: #ff4d30;
	font-size: 20px;
	cursor: pointer;
}

/* --------------Home page design------------- */
.main-content{
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: center;
	
	background-color: gainsboro;
	font-family:  sans-serif;
}
.threeDimg img{
	width: 600px;
	height: 360px;

}
.main-p h1{
	color:black;
}
.main-p{
	margin-right: 130px;
}
.main-p p{
	width: 500px;
	font-size: 14px;
	color: black;
	margin-top: 20px;
	margin-bottom: 30px;
	line-height: 20px;
}	
.mainImg{
	display: flex;
	
	align-items: center;

}

.mission-container{
	align-items: center;
	
	justify-content: center;
	
}
.mission-content{
	align-items: center;
	text-align: center;
	margin: 30px;
}

.mission-container h2{
	text-align: center;
	font-family: sans-serif;
	margin-top: 70px;
} 
.mission-container .p{
    text-align: center;
	font-family:'Calibri';
	margin-top: 30px;
	
}
.mission-campaign{
	justify-content: center;
	margin-left: 40px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,20fr));
	grid-gap: 10px;
	align-items: center;
	text-align: center;
}   
.campaigns-content {
	background-color: white;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
	height: 370px;
	width: 250px;
	align-items: center;
	text-align: center;
	border-radius: 3px;
}
.home-img{
	width: 100%;
	
	height: 220px;
	border-radius: 3px;
	
}

.campaigns-content h4{
    text-align: left;
	padding-left: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin-top: 10px;

}
.campaigns-content p{
	text-align: left;
	width: auto;
	padding-left: 3px;
	font-family: Arial;
	font-size: 14px;
	margin-top: 15px;
	color: gray;
	margin-bottom: 20px;
	
}
.readMore{
	
	text-decoration: none;
	font-family: Arial;
	font-size: 13px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 7px;
	padding-top: 7px;
	border: 1px solid black;
	
	border-radius: 5px;
	
}
.readMore:hover{
	background-color: black;
	color: white;
	transition: ease-in-out 0.15s;
	cursor: url("images/book.png"),auto;
}
.sec-app{
	background-color: white;
}
.socialMediaApp h2{
	font-family:  sans-serif;
	padding: 30px;
	font-size: 24px;
	text-align: center;
}
.homeMedia-content .img{
	
	width: 520px;
	height: 300px;
}
.insta1{
    width: 470px;
	height: 270px;
	margin-bottom: 20px;
}
.homeMedia-content{
	display: flex;
	justify-content: center;
	margin-bottom: 70px;
}
.home-popular{
	display: flex;
	
}

.homeMedia-content h4{
	font-size: 17px;
	font-family: sans-serif;
}
.homeMedia{
	margin-top: 50px;
}
.app-contain{
	display: block;
	justify-content: center;

	
}
.content-para1 {
	display: block;
	width: 500px;
	margin-top: 30px;
	
	
}
.content-para2 {
	display: block;
	width: 500px;
	margin-top: 10px;
	padding-left: 30px;
	
}
.p2{
	font-family: sans-serif;
	margin-top: 30px;
}
.tipsforsafe{
	background-color:rgb(245, 245, 245);
}

.staysafe-content{
	display: flex;
	justify-content: center;
	gap: 90px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.staysafe-content img{
    width: 440px;
	height: 310px;
	border-radius: 7px;
		
}

.staysafe-wrap p{
    width: 500px;
	font-family: sans-serif;
	font-size: 15px;
	line-height: 21px;
}
.staysafe-wrap h4{
	font-family: sans-serif;
	font-size: 17px;
	padding-bottom: 20px;
	padding-top: 20px;
}

/*-------------------  Information about campaign page----------------- */
.info-img{
	width: 100%;
	height: 45vh;
	background-image: linear-gradient(rgba(4,9,30,0.5), rgba(4,9,30,0.5)), url(images/teen20.jpg);
	background-position: center top 20%;
	position: relative;
	
	background-size: 100%;
	display: flex;
	justify-content: center;
    text-align: center;
	flex-direction: column;
}
.info-img h2{
	font-family: sans-serif;
	
	font-size: 40px;
	color: white;
	
}
.infoCampaign-content{
	display: flex;
	justify-content: center;
	padding-top:80px;
	padding-left:100px;
	padding-right:100px;
	margin-bottom: 60px;
	
}

.imgrr{
	width: 450px;
	height: 300px;
	border-radius: 20px;
}
.content-campaigninfo{
	margin-left: 60px;
	font-family:  sans-serif;
}
.content-campaigninfo1{
	margin-right: 60px;
	font-family:  sans-serif;
}
.content-campaigninfo p, .content-campaigninfo1 p{
	width: 500px;
	margin-top: 20px;
	font-size: 15px;
	color: grey;
	line-height: 22px;
}
.content-campaigninfo h3, .content-campaigninfo1 h3{
	font-size: 24px;
}
.basiclive-content1{
	display: flex;
	justify-content: center;
	font-family: sans-serif;
	margin-top: 80px;
	
}
.basiclive-info1{
	margin-top: 50px;
}
.basiclive-content1 p{
	margin-bottom: 20px;
}
.basiclive-content1 span{
	font-weight: bold;
}
.img-contactsteps{
	margin-right: 60px;
}
.img-contactsteps img{
	width: 480px;
	height: 270px;
	border-radius: 20px;
	border: 1px solid black;
}
.infoh2Bottom{
	font-family: sans-serif;
	text-align: center;
	margin-bottom: 30px;
	color: green
	
	
	
	
	;
}

/* --------------How parents can help-------------*/
.parent-info{
	width: 100%;
	height: 45vh;
	background-image: linear-gradient(rgba(4,9,30,0.5), rgba(4,9,30,0.5)), url(images/parent4.jpg);
	background-position: center;
	position: relative;
	background-position: center top 30%;
	background-size: 89%;
	display: flex;
	justify-content: center;
    text-align: center;
	flex-direction: column;
}
.parent-info h2{
	font-family: sans-serif;
	
	font-size: 40px;
	color: white;
}
.parent-intro h2{
	font-family: sans-serif;
    font-size: 25px;
	text-align: center;
}
.parent-intro p{
	font-family: sans-serif;
	font-size: 16px;
    width: 90%;
	margin-top: 30px;
	line-height: 22px;
    text-align: center;
}
.parent-intro{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.parent-intoContainer{
	margin-top: 70px;
	display: flex;
	justify-content: center;
	
}
.tipsh2{
	font-family: sans-serif;
    font-size: 25px;
	text-align: center;
	margin-top: 70px;
}
/* -----------------Legislation and Guidance----------------- */
.info-img2{
	width: 100%;
	height: 45vh;
	background-image: linear-gradient(rgba(4,9,30,0.5), rgba(4,9,30,0.5)), url(images/law.jpg);
	background-position: center top 20%;
	position: relative;
	
	background-size: 75%;
	display: flex;
	justify-content: center;
    text-align: center;
	flex-direction: column;
}
.info-img2 h2{
	font-family: sans-serif;
	
	font-size: 40px;
	color: white;
	
}
/* --------------Contact form---------------- */
.con{
	
	background-color: gainsboro;
}    
.sectionContact{
	display: flex;
	justify-content: center;
	height: 584px;
}
.combination{
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
	position: relative;
}  
.combination::before{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 47%;
	border: 1px solid black;


} 
       
.contactContainer{
	display: flex;
	justify-content: center;
	
	border-radius: 15px;
	margin-top: 7vh;
	background-color: white;
    width: 700px;
	height: 76vh;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
	
}
.left{
	margin-right: 150px;
	margin-left: 10px;
	padding-top: 0;
		
}
.right{
	padding-top: 0;

}
.emailInside i,.phoneInside i,.addressInside i{
	color: #ff4d30;
}
.address{
	text-align: center;
	padding-top: 0;
	padding-bottom: 10px;
}
.email,.phone{
	text-align: center;
	padding: 10px;
}
.media{
	text-align: center;
	margin-top: 15px;

}		
.media h4{
	margin-bottom: 9px;
	font-family:  sans-serif;
	font-size: 14px;
}
.media a{
	
	padding: 5px;
	
}
.para{
	color: gray;
	margin-top: 4px;
	font-family: Calibri;
}
.midhead{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
}
.midhead h4{
	font-family:  sans-serif;

	color: #ff4d30;
	margin-bottom: 40px;
}
.midhead p
{
	color: gray;
	
	font-family: Calibri;
}

.right form input, .textarea{
	width: 230px;
	height: 30px;
	border-radius: 3px;
	padding: 5px;
	
	background-color: whitesmoke;
	border: 2px solid grey;
	font-family:  sans-serif;
	margin-top: 2px;
}
.textarea{
	width: 230px;
	height: 100px;
	font-size: 14px;
}

.butcon{
	width: 230px;
	height: 25px;
	border: 2px solid grey;
	border-radius: 5px;
	background-color: white;
	font-family:  Arial;
	font-weight: bold;
}
.butcon:hover{
	background-color: black;
	color: white;
	transition: 0.15s;
}
.policy{
	text-decoration: none;
	font-family: sans-serif;
	font-size: 14.5px;
	display: flex;
	justify-content: center;
	
}
.policy a{
	padding-left: 3px;
	text-decoration: none;
}
/* ------------Login page and Register page------------ */
.logback{
	background-color: gainsboro;
}
.logContainer,.RegContainer{
	display: flex;
	justify-content: center;
	
}

.loginForm {
	margin-top: 40px;
    width: 450px;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	text-align: center;

}
.RegForm{
	margin-top: 40px;
    width: 750px;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	text-align: center;

}
.g-recaptcha{
	display: flex;
	justify-content: center;
}
.logPhoto1{
	align-items: center;
    display: flex;
    flex-direction: column;
	padding-bottom: 20px;
	margin-top: 10px;
    
	
}

.regPhoto
{
    align-items: center;
      
    
}

#span{
    font-size:15px;
    justify-content: center;
    display: flex;
    margin-top: 7px;
	font-family: sans-serif;

}

#span a{
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
	font-family: sans-serif;
	padding-left: 5px;
}
#span a:hover{
	color: red;
	
}


.buttonreg {
    width: 300px;
    background-color:#ff4d30 ;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
	margin-top: 15px;
    
}
.buttonlog{
	width: 300px;
    background-color:#ff4d30 ;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    
    margin-top: 15px;
}
.logPhoto1 input{
	width: 300px;
    padding: 10px;
    margin-top: 18px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.regPhoto input,select{
    width: 300px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.regincontainer{
	display: flex;
	
}

.regPhoto h2 {
    text-align: center;
    margin-bottom: 20px;
	font-family: sans-serif;
    font-size: 18px;
	color: #ff4d30;
}
.logPhoto1 h2{
	text-align: center;
	margin-top: 20px;
    margin-bottom: 30px;
	font-family: sans-serif;
    font-size: 18px;
	color: #ff4d30;
}
.pro{
	font-family: sans-serif;
	margin-right: 10px;
	font-size: 14px;
	
}

/* -------------admin nav bar-----------*/
.adminName{
    font-family: 'Trebuchet MS';
	padding-left: 20px;
	color: #ff4d30;
}
.logoutAdmin{
	list-style: none;
	display: flex;
	text-align: center;
	margin-left: 30px;
}
.logoutAdmin a{
	text-decoration: none;
	font-family:  'Calibri' ;
	list-style: none;
	background-color: #ff4d30;
	padding: 7px;
	border-radius: 8px;
	color: white;
	margin-right: 20px;
}
.logoutAdmin a:hover{
	background-color: black;
	transition: 0.15s;
}


.navigation1
{
	position: sticky;
    top: 0;
	display: flex;
	justify-content:space-between;
	align-items: center;
	
	background-color: white;	
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.userSearchBox1{
	position: absolute;
	left: 0;	
	top: 100%;
	width: 100%;
	height: 100%;
	display: flex;
	background-color: white;
	align-items: center;
	padding: 0 30px;
	transition: 0.5s ease-in-out;
	box-shadow: 0 2px rgba(0, 0, 0, 0.1);
	display: none;
}
.userSearchBox1.active{
	right: 0;
	width: 100%;
}
.search-text{
	width: 1190px;
	border: none;
	font-family:sans-serif;
	outline: none;
	height: 30px;
	color: black;
	font-size: 1rem;
	background-color: white;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}


.search-form {
	display: flex;
	justify-content: center;
	
}
.log-nav .ul3{
	display: flex;
	
}
.ul3{
	text-align: center;
	padding-top: 0;
}
.ul3 .searchBTN{
	padding-top: 5px;
}	


/* ------------Edit Form-------------  */
.editBody{
	background-color:#f4f4f4 ;

	
}
.edit-wholebody{
	display: flex;
	justify-content: center;
}
.edit-container{
	
	justify-content: center;
	text-align: center;
	background-color: white;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
	width: 450px;
	height: 450px;
	border-radius: 10px;
	margin-top: 50px;
}
.edit-input input{
	
	width: 250px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
	color: dimgray;
	
}
.edit-input label{
	display: block;
	text-align: left;
	margin-left: 23%;
	font-family:  sans-serif;
	font-size: 14px;
}
.edit-input select{
	width: 250px;
    padding: 10px;
	margin-top: 0;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
	color: dimgray;
}
.edit-container h2{
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: sans-serif;
	font-size: 18px;
	
}
.edit-container button{
	width: 90px;
	padding: 7px;
	border-radius: 5px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	background-color: white;
	color: green;

}
.edit-container button:hover{
	background-color: black;
	color: white;
	transition: ease-in-out 0.15s;
}
/*-------------- Userlist --------------*/
.userbody {
    font-family: sans-serif;
    background-color: #f4f4f4;
    
}

.usersinfo {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.spapp{
	font-family: sans-serif;
	font-weight: bold;
	color: #333;
}

.usersinfo h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.usersinfo p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #666;
}

.profile {
    border-radius: 50%;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.action {
    display: flex;
    justify-content: flex-end;
}

.action a {
    display: inline-block;
    text-decoration: none;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 13px;
    border: 1px solid red;
    border-radius: 3px;
    color: green;
    transition: background-color 0.15s ease-in;
}

.action a:hover {
    background-color: red;
    color: white;
}
.safe-info {
	
	font-family:  sans-serif;
	border-radius: 5px;
	
}
.safe-info p{
	
	line-height: 21px;
}  
.safe-info h4{
	
	margin-bottom: 10px;
}



/*----------- Social media app-admin control-------- */
.appbody{
	font-family: sans-serif;
	background-color:#f4f4f4 ;
}
.app-container{
	display: flex;
	justify-content: center;
	
}

.app-content{
	
	text-align: center;
	background-color: white;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
	width: 700px;
	height: 440px;
	border-radius: 10px;
	margin-top: 30px;
}
.app-container h3{
	margin-top: 20px;
}
.app-input{
	margin-top: 30px;
	
}
.app-input input{
	
	width: 250px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
	color: dimgray;
	
}
.descrip{
	width:  250px; 
	height: 120px;
	padding: 7px;
	color: grey;
	font-family: sans-serif;
}
.app-input label{
	display: block;
	text-align: left;
	
	font-family:  sans-serif;
	font-size: 14px;
}
.confirm{
	width: 200px;
	padding: 5px;
	background-color: white;
	color: green;
	margin-top: 20px;
}
.confirm:hover{
	background-color: green;
	color: white;
	transition: ease-out 0.15s;
}
.app-wrap{
	display: flex;
	justify-content: center;
	gap: 70px;
}

.app-flex button{
	margin-top: 30px;
	padding: 7px;
	width: 250px;
	color: green;

}
.app-flex button:hover{
	color: white;
	background-color: green;
	border: none;
}
/* -----------Footer------------------*/
.footer-row
{
	display: flex;
	flex-wrap: wrap;
	

	justify-content: center;
	background-color: black;

}
.footer-column
{
	margin: 40px;

}	
.footer-row	li a
{
	font-family: Calibri;
	font-size: 14px;
	text-decoration: none;
	color: white;
	margin-top: 10px;
}
.footer-row ul
{
	list-style: none;

}
.footer-column h4{
	color: white;
}
.footer-column p, ul  
{
	
	padding-top: 10px;
	padding-bottom: 10px;
	
}

.footer-column i
{
	padding-top: 20px;
}
.footer-column p
{
	color: white;
	font-family: Calibri;
	font-size: 14px;
}
.f-container
{
	background-color:black ;
	
}
.copyright
{
	color: white;
	text-align: center;
    padding-bottom: 20px;
    font-size: 	15px;
	
}
#here{
	text-align: center;
	font-family: sans-serif;
	color: white;
}
.footerpolicy{
	text-decoration: none;
	color: white;
	
	font-family: Calibri;
	font-size: 14px;
}
.f-pageUL .f-page{
	padding-top: 5px;
}

/* -----------privacy and policy -----------------*/
.privacy-body{
	background-color: white;
}
.privacy-container{
	display: flex;
	justify-content: center;
	font-family: sans-serif;
}
.privacy h2{
	font-size: 24px;
	
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}
.privacy p{
	font-size: 16px;
	margin-bottom: 30px;
	padding-left: 50px;
	padding-right: 50px;
}
.privacy span{
	font-weight: bold;
}
.head-privacy{
	font-size: 16px;
	text-align: center;
	font-weight: bold;
}
/*----------------- Livestreaming page------------------- */

.live-section{
	background-color: gainsboro;
	background-image: linear-gradient(rgba(4,9,30,0.5), rgba(4,9,30,0.5)), url(images/live5.jpg);
	font-family: sans-serif;
	padding-top: 80px;
	padding-bottom: 90px;
	padding-left: 100px;
	width: 100%;
	background-size: 100%;
	background-position: center top 20%;
	position: relative;
}
.livestream-main p{
    margin-top: 10px;
	font-size: 17px;
	color: white;
}
.livestream-main h2{
	font-size: 30px;
	color: white;
}
.livestream-main h3{
	font-size: 25px;
	color: white;
}
.basiclive-content{
	display: flex;
	justify-content: center;
	margin-left: 60px;
	margin-right: 60px;
	font-family: sans-serif;
	margin-top: 80px;
}
.basiclive-content h2{
	width: 300px;
	font-size: 25px;
    margin-right: 40px;
}
.basiclive-info h3{
	width: 300px;
	margin-right: 40px;
}
.basiclive-content p{
	width: 500px;
	margin-left: 30px;
    margin-bottom: 20px;
	line-height: 21px;
}
.basiclive-info span{
	font-weight: bold;
}
.Top-tips{
	padding-bottom: 10px;
}
.t1{
	color:blue;
}
.ut1{
	color: red;
}
.in1{
	color: red;
}
.fb1{
	color: blue;
}
.top1{
	color: #ff4d30;
}
@media screen and (max-width: 1130px)
{
	.select-menu .options{
		background-color: lightgray;
	}

	.nav-link .li a,.nav-link .li1 a,.sBtn-text{
		font-size: 15px;
	}
	.options .option a{
		font-size: 15px;
		color: black;
	}
	.sms-logo img{
		width: 22px;
	}
	.logo{
		font-size: 16px;
	}
	.nav-link ul 
	{
		position: absolute;
		top: 30px;
		left: -100%;
		height: 19vh;
		width: 100%;
		text-align: center;

		background: hsl(0 0% 50% / 0.8);
		transition: all 0.15s ease-in;
	}
	.nav-link li a:hover::after
	{
		width: 0;
	}	
	.nav-link li a:hover
	{
		color: black;
		font-weight: bold;
	}
		
	.nav-link ul li 
	{
		display: block;
        
	}
	.nav-link ul li a
	{
		color: white;
		font-size: 17px;
		font-weight: bold;
	}

	.checkbtn
	{
        margin-right: 10px;
		display:flex;
	}
	#check:checked ~ .nav-link ul
	{
		left: 0;
	}
    .parent-info h2,.info-img h2{
		font-size: 28px;
	}
	.Top-tips h2{
		font-size: 19px;
	}
	.basiclive-content{
		display: block;
		
	    margin-top: 30px;
		
		
	}
	.basiclive-content p{
		width: auto;
		font-size: 15px;
	}
	.basiclive-content h2{
		width: auto;
		font-size: 17px;
	}
	.tipsh2{
		margin-top: 10px;
	}
	.infoCampaign-content{
		display: block;
		
		padding-top:50px;
		padding-left:auto;
		padding-right:auto;
		margin-bottom: 30px;
		
	}
	
	.imgrr{
		width: 290px;
		height: 170px;
		border-radius: 10px;
	}
	.content-campaigninfo{
		margin-left: auto;
		
	}
	.content-campaigninfo1{
		margin-right: auto;
		
	}
	.content-campaigninfo p, .content-campaigninfo1 p{
		width: auto;
		margin-top: 10px;
		
	}
	.content-campaigninfo h3, .content-campaigninfo1 h3{
		font-size: 19px;
	}
    .info-img{
		width: 100%;
		height: 38vh;
		
		background-position: center;
		position: relative;
		
		background-size: 140%;
		
	}
	.parent-intro h2{
		
		font-size: 20px;
		
	}
	.parent-intro p{
		
		font-size: 15px;
		
	}
	.livestream-main p{
		width: auto ;
		font-size: 15px;
		
	}
	.livestream-main h2{
		font-size: 22px;
		
	}
	.livestream-main h3{
		font-size: 20px;
		
	}
	.live-section{
		
		
		padding-top: 50px;
		padding-bottom: 70px;
		padding-left: 30px;
		
	}
	.mainImg{
		display: block;
	
	}
	.threeDimg img{
		width: 450px;
		height: 260px;
	
	}
	.main-p h1{
		font-size: 20px;
	}
	.main-p{
		margin-right: auto;
		margin: 15px;
	}
	.main-p p{
		width: auto;
				
		margin-top: 10px;
		margin-bottom: 20px;
		
	}	
	.main-content{
		height: 70vh;
		
	}
	.homeMedia-content{
		display: block;
		
		margin-bottom: 30px;
	}
	.socialMediaApp h2{
		
		font-size: 19px;
		
	}
	.homeMedia-content .img{
	
		width: 370px;
		height: 220px;
		margin-left: 60px;
	}
	.homeMedia-content h4{
		font-size: 16px;
		
	}
	.content-para1 {
		
		width: auto;
		margin-top: 10px;
		padding-left: 30px;
		padding-right: 10px;
		
	}
	.content-para2 {
		
		width: auto;
		margin-top: 10px;
		padding-left: 30px;
		padding-right: 10px;
	}
	.p2{
		font-family: sans-serif;
		margin-top: 30px;
	}
    .insta1{
		width: 370px;
		height: 220px;
		margin-bottom: 20px;
		margin-left: 60px;
	}
	.staysafe-content{
		display: block;
		gap: 50px;
		margin-left: 30px;
		padding-right: 10px;
		
	}
	
	.staysafe-content img{
		width: 320px;
		height: 210px;
		
	}
	
	.staysafe-wrap p{
		width: auto;
		font-size: 14px;
		line-height: 21px;
	}
	.staysafe-wrap h4{
		font-size: 16px;
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.app-wrap{
		display: block;
		
		gap: 70px;
	}
	.app-input label{
		
		text-align:center;
		
	}
	.app-content{
	
		
		width: 400px;
		height: auto;
		
		margin-top: 30px;
	}
	.basiclive-info p{
		margin-top: 20px;
	}
	.basiclive-info h3{
		margin-left: 32px;
		width: auto;
	}
	.combination{
		display: block;
	}
	.contactContainer{
		
		margin-top: 4vh;
		width: auto;
		height: auto;
				
	}
	.combination::before{
		content: 0;
		
		top:auto;
		bottom:auto;
		left: auto;
		border: none;
	
	
	} 
	.sectionContact{
		
		height: auto;
	}
	.left{
		margin-right: auto;
		margin-left: auto;
		padding-top: 0;
	}		
	.right{
		align-items: center;
		display: flex;
		justify-content: center;

	}
	.policy{
		
		font-size: 14px;
		padding: 5px;
		
	}
	.regincontainer{
		display: block;
		
	}
	.pro{
		display: block;
		
	}
	
}